@import url('https://fonts.googleapis.com/css?family=Cuprum');
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: url('/images/bg.png') repeat;

    color: #ffffff;
    font-family: Cuprum, sans-serif;
    font-weight:300;
    text-align: center;
    text-decoration: none;
}
 header{
     line-height: 48px;
     background-color: rgba(87, 87, 87, .2);

 }
header h1, .wrapper h2{

    text-shadow: 0 1px 1px #2D2020;
}


 .wrapper{
    margin-top: 80px;
}


.form{
    margin: 20px auto;
    width: 40%;
}

.form .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.form .content .input {

    padding: 10px;
    font-family: Cuprum, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #9d9e9e;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);

    background: #fff;
    border: 1px solid #fff;
    border-radius: 5px;

    box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}


.form .content .input:hover {
    background: #dfe9ec;
    color: #414848;
}

.form .content .input:focus {
    background: #dfe9ec;
    color: #414848;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
}

.form .content a {
    text-decoration: none;
}
.form .button {

    padding: 11px 25px;
    font-family: 'Bree Serif', serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    text-shadow: 0px 1px 0 rgba(0,0,0,0.25);


    background: #56c2e1;
    border: 1px solid #46b3d3;
    border-radius: 5px;
    cursor: pointer;

    box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
    -moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
    -webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.form label.button{
    background: #ff744a;
    border: 1px solid #be4a21;
}

.form label.button:hover {
    background: #be4a21;
}


.form .button:hover {
    background: #3f9db8;
    border: 1px solid rgba(256,256,256,0.75);

    box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.form .button:focus {
    position: relative;
    bottom: -1px;

    background: #56c2e1;

    box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
    -moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
    -webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}

.container {
    width: 80%;
    margin: 0 auto;
}

.grid {
    overflow: hidden;
    margin: 0;
    padding: 3em 0 0 0;
    width: 100%;
    list-style: none;
    text-align: center;
}

.grid figure {
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    width: 24%;
    height: 300px;
    text-align: center;
    cursor: pointer;
    background: #3085a3 center center;
    background-size: cover;
}

.grid figure figcaption {
    padding: 1em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
}

.grid figure figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;

}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

figure figcaption {
    top: auto;
    bottom: 0;
    padding: 1em;
    max-width: 90%;
    height: 2em;
    background: #fff;
    color: #3c4a50;
    transition: transform .65s;
    transform: translate3d(0,200%,0);
}

figure figcaption h2 {
    float: left;
    font-size: 1.2em;
    color: #3c4a50;
}

figure figcaption a {
    float: right;
    color: #3c4a50;
    font-size: 1.6em;
    transition: transform 0.35s;
    transform: translate3d(0,200%,0);
    margin-right: 10%;
}

figure p {
    position: absolute;
    bottom: 8em;
    padding: 2em;
    color: #fff;
    text-shadow: 2px 2px 2px #2D2020;
    text-transform: none;
    font-size: 110%;
    opacity: 0;

}

figure label{
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1000;
    cursor: pointer;
    color: #fff;
}

figure figcaption > a {
    transition: transform 0.35s;
    transform: translate3d(0,200%,0);
}

figure h2 {
    display: inline-block;
}

figure:hover figcaption > p {
    opacity: 1;
}

figure:hover figcaption,
figure:hover > figure label,
figure:hover figcaption > a{
    transform: translate3d(0,0,0);
}

figure:hover h2 {
    transition-delay: 0.05s;
}

figure:hover figcaption > a {
    transition-delay: 0.2s;
}


@media only screen and (max-width: 640px) {
    .grid figure {
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
    }

    form.upload .content  {
        flex-direction: column;
        width: 100%;
    }
}



